<div class="mt-3 col-8 mx-auto">
<div class="d-flex justify-content-between">
  <h1>All lists</h1>
  <%= link_to new_list_path do%>
    <button class="btn btn-primary">Create a list</button>
  <% end %>
  </div>
  <% @lists.each do |list| %>
    <div class="card p-3">
    <div>
     <h2><%= list.name.capitalize %></h2>
     <p>- <%= list.details.capitalize %></p>
     </div>
      <%= link_to list_path(list.id) do%>
      <button class="btn btn-success rounded text-white">View</button>
    <% end %>
    </div>

    <% end %>


</div>
